body {
    font-family: 'Times New Roman', Times, serif;
    color: rgb(0, 0, 0, .5);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    background: linear-gradient(to right, cyan, yellow);
}

@media only screen and (max-width: 600px) {
    body {
        font-size: 55px;
    }
    h3 {
        font-size: 25px;
    }
}

h3 {
    letter-spacing: normal;
}